        <h2><%= mesaj%></h2>
        <ul class="DenemeBuyuk">
        <% for(var i =0; i<adlar.length;i++) {%>
            <li><%=adlar[i]%></li>
        <%}%>
        </ul>

    <div class="container">
        <div class="row DenemeBuyuk">
            <p>Merhaba</p>
        </div>
    </div>
