<div class="row">
		<form style="width: 400px;margin: 0 auto; margin-top: 30px;" action="/login" method="POST"> 
			<div class="form-group">
			<label for="lblEmail1">E-mail : </label>
			<input type="text" id="mail" class="form-control" placeholder="Email..." name="mail">
			<label for="lblPassword1">Password : </label>
			<input type="password" id="password" class="form-control" placeholder="Password..." name="password">	
			<br>
			<div class="text-right">
				<button type="submit" class="btn btn-success"><a href="#" style="color:black;">Giriş</a></button>
				<a href="/login/singup" class="btn btn-danger">Kayıt Ol</a>
			</div>
            </div>
		</form>
		
	</div>