<div class="row">
    <form style="width: 400px;margin: 0 auto; margin-top: 30px;" action="/login/singup" method="POST"> 
        <div class="form-group">
        <label for="lblEmail1">İsim : </label>
        <input type="text" id="ad" class="form-control" placeholder="İsim" name="ad">
        <label for="lblEmail1">Soyisim : </label>
        <input type="text" id="soyad" class="form-control" placeholder="Soyisim" name="soyad">
        <label for="lblEmail1">Email : </label>
        <input type="text" id="email" class="form-control" placeholder="Mail" name="email">
        <label for="lblEmail1">Kullanıcı Adı : </label>
        <input type="text" id="kullaniciAdi" class="form-control" placeholder="Kullaıcı Adı" name="kullaniciAdi">
        <label for="lblPassword1">Password : </label>
        <input type="password" id="sifre" class="form-control" placeholder="Password" name="sifre">	
        <br>
        <div class="text-right">
            <button type="submit" class="btn btn-success"><a href="#" style="color:black;">Kayıt OL</a></button>
            <a href="/login" class="btn btn-danger">Giriş Yap</a>
        </div>
        </div>
    </form>
    
</div>